@charset "utf-8";

* {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-family: "맑은 고딕";
    color: #333333;
}
body {
    width: 1200px;
    background-color: #ffffff;
    font-size: 20px;
}
a {
    text-decoration: none;
    display: block;
}
header {
    height: 100px;
    width: 1200px;
}
.top {
    height: 100px;
    width: 1200px;
}
.logo {
    float: left;
    height: 100px;
    width: 250px;
}
.menu {
    float: right;
    height: 100px;
    width: 800px;
}
.bodywrap {
    height: 500px;
    width: 1200px;
}
.imgslide {
    height: 300px;
    width: 1200px;
}
.contents {
    float: left;
    height: 200px;
    width: 1200px;
}
.tabmenu {
    float: left;
    height: 200px;
    width: 400;x
}
.otherwrap {
    float: right;
    height: 200px;
    width: 800px;
}
.banner {
    float: left;
    height: 200px;
    width: 400px;
}
.shortcut {
    float: right;
    height: 200px;
    width: 400px;
}
footer {
    height: 100px;
    width: 1200px;
    background-color: #30a3f3;
}
.btlogo {
    float: left;
    height: 100px;
    width: 250px;
}
.site {
    float: right;
    height: 100px;
    width: 600px;
}
.btmenu {
    height: 50px;
    width: 600px;
}
.copy {
    height: 50px;
    width: 600px;
}