@charset "utf-8";

* {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	font-family: "맑은고딕";
	color: #222328;
}

body {
	width: 1000px;
	background-color: #ffffff;
	font-size: 20px;
}

a {
	text-decoration: none;
	display: block;
}

header {
	float: left;
}

.top {
	float: left;
	height: 650px;
	width: 200px;
}

.logo {
	float: left;
	height: 40px;
	width: 200px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.menu {
	width: 180px;
	top: 100px;
	text-align: center;

}

.navi>li {
	float: left;
	width: 180px;
}

.navi>li>a {
	height: 40px;
	width: 180px;
	line-height: 40px;
	font-size:16px;
	font-weight: bold;
	background-color: #222328;
	color: #ffffff;
}
.navi>li>a:hover {
	background-color: #930930;
	color: #ffff00;
}
.submenu {
	float: left;
	width: 100%;
	display: none;
}

.submenu>li>a {
	height: 40px;
	width: 180px;
	line-height: 40px;
	font-size: 14px;
	font-weight: bold;
	background-color: #cccccc;
	color: #ffffff;
}

.submenu>li>a:hover {
	background-color: #999999;
	color: #ffff00;
}


.imgslide {
	float: right;
	height: 350px;
	width: 800px;
	position: relative;
}

.imgslide>a {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
}

.imgtext { height: 50px;
	width: 300px;
	position: absolute;
	margin: -25px 0 0 -150px;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	line-height: 50px;
	background-color: rgba(40, 40, 40, 0.3);
	left: 50%;
	top: 50%;
}

.contents {
	float: right;
	height: 200px;
	width: 800px;
}

.notice {
	float: left;
	height: 190px;
	width: 280px;
	margin-top: 10px;
}
.tab {
    float: left;
    width: 300px;
}

.tab h4 {
    float: left:
    height: 30px;
    width: 80px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    background-color: #000000;
}

.notice > div {
    width: 280px;
    border-bottom-color: #cccccc;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.notice ul {
    float: left:
    height: 30px;
    width: 280px;
    line-height: 30px;
    font-size: 14px;
}

.notice li span {
    float: right;
}

.notice li:nth-child(2n) {
    background-color: #cccccc;
}

.notice li:hover {
    font-weight: bold;
}

.gallery {
	float: left;
	height: 190px;
	width: 300px;
	margin-top: 10px;
	margin-left: 20px;
}

.gallery > div {
    width: 280px;
    border-bottom-color: #cccccc;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.gallery ul li {
    float: left;
    padding: 10px;
    margin-top: 10px
}

.gallery img {
    height: 90px;
    height: 75px;
}

.gallery li:hover {
    opacity: 0.5;
}

.shortcut {
	float: left;
	height: 200px;
	width: 200px;
}

.shortcut img {
    float: right;
    margin-top: 10px;
    height: 180px;
    width: 180px;
}

.sctext {
    float: right;
    height: 30px;
    width: 100px;
    position: absolute;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    line-height: 30px;
    background-color: rgba(40, 40, 40, 0.3);
    margin-top: 80px;
    margin-left: 60px;
}

.sctext:hover {
    opacity: 0.5;
}

#modal {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
    display: none;
}

#modal.active {
    display: block;
}

.modal_up {
    width: 400px;
    height: 300px;
    position: fixed;
    left: 40%;
    top: 40%;
    background-color: #ffffff;
}

.uptitle {
    margin-top: 20px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
}

.upbody {
    padding: 30px;
    text-aligh: center;
    font-size: 15px;
    line-height: 40px;
}

.btn {
    height: 20px;
    width: 80px;
    cursor: pointer;
    display: block;
    text-align: center;
    font-size: 15px;
    border-radius: 3px;
    background: #cccccc;
    position: absolute;]
    right: 10px;
    bottom: 10px;
}
.footer {
	float: right;
}

.bottom {
	float: left;
	height: 100px;
	width: 800px;
}

.copy {
	float: left;
	height: 100px;
	width: 600px;
}

.site {
	float: right;
	height: 100px;
	width: 200px;
}

.sns {
	float: right;
	height: 50px;
	width: 200px;
}

.familysite {
	float: right;
	height: 50px;
	width: 200px;
}
